.spinner, .icon-male, .icon-female, .icon-lock, .icon-person {
	display: inline-block;
	vertical-align: middle;
	background-position:center;
	background-repeat:no-repeat;
	min-width: 16px;
	min-height: 16px;
}

.icon-lock, .icon-person {
	min-width: 128px;
	min-height: 128px;
}

.spinner.modal-backdrop {
	background-color: white;
}

.spinner {
	background-image: url(../images/spinner.gif);
}

.icon-male {
	background-image: url(../images/male.png);
}

.icon-female {
	background-image: url(../images/female.png);
}

.icon-lock {
	background-image: url(../images/lock.png);
}

.icon-person {
	background-image: url(../images/person.png);
}

.nav li a a.close {
	margin-right: -5px;
}
