.spinner, [class^=img-lg-], [class^=img-sm-] {
	display: inline-block;
	vertical-align: middle;
	background-position:center;
	background-repeat:no-repeat;
}

.spinner, [class^=img-sm-] {
	min-width: 16px;
	min-height: 16px;
}

[class^=img-lg-] {
	min-width: 128px;
	min-height: 128px;
	margin: 16px;
}

.spinner.modal-backdrop {
	background-color: white;
}

.spinner {
	background-image: url(../images/spinner.gif);
}

.img-lg-portrait-male {
	background-image: url(../images/portrait-male.png);
}

.img-lg-portrait-female {
	background-image: url(../images/portrait-female.png);
}

.img-sm-symbol-male {
	background-image: url(../images/symbol-male.png);
}

.img-sm-symbol-female {
	background-image: url(../images/symbol-female.png);
}

.img-lg-lock {
	background-image: url(../images/lock.png);
}

.img-lg-portrait {
	background-image: url(../images/portrait.png);
}

.nav li a a.close {
	margin-right: -5px;
}

.contextual {
	float: right;
}

.block-container.right {
	text-align: right;
}

.block {
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}
